
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Organ Predictor</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">


</head>
<body>

  <div class="app-container">

    <!-- Header -->
    <header class="header">
      <div class="logo">🛡️</div>
      <h1>Organ Predictor</h1>
    </header>

    <!-- Main Content -->
    <main class="content">
      <h2>Select an Organ</h2>
      <p class="subtitle">
        Choose an organ to view AI-powered transplant predictions.
      </p>

      <div class="card-grid">
        <a href='/kidney' class="card" style="text-decoration: none; color: inherit;">
          <img src="{{ url_for('static', filename='images/kidney.jpeg') }}" alt="Kidney">
          <h3>Kidney</h3>
          <span>View prediction</span>
        </a>

        <a href='/heart' class="card" style="text-decoration: none; color: inherit;">
          <img src="{{ url_for('static', filename='images/heart.jpeg') }}" alt="Heart">
          <h3>Heart</h3>
          <span>View prediction</span>
        </a>

        <a href='/liver' class="card" style="text-decoration: none; color: inherit;">
          <img src="{{ url_for('static', filename='images/liver.jpeg') }}" alt="Liver">
          <h3>Liver</h3>
          <span>View prediction</span>
        </a>

        <a href='/lung' class="card" style="text-decoration: none; color: inherit;">
          <img src="{{ url_for('static', filename='images/lungs.jpeg') }}" alt="Lung">
          <h3>Lung</h3>
          <span>View prediction</span>
        </a>
      </div>

      <a href="#" class="info-link">For informational purposes only</a>
    </main>

    <!-- Bottom Navigation -->
   <nav class="bottom-nav">
  <div class="nav-item active">
    <i class="fa-solid fa-house"></i>
    <span>Home</span>
  </div>

  <div class="nav-item">
    <i class="fa-solid fa-clock-rotate-left"></i>
    <span>History</span>
  </div>

  <div class="nav-item">
    <i class="fa-solid fa-circle-info"></i>
    <span>About</span>
  </div>
</nav>


  </div>

</body>
</html>
