
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Lung Prediction</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='prediction.css') }}">
</head>
<body>

<div class="app">

  <!-- Header -->
  <div class="header">
    <a href="/" class="back">←</a>
    <h2>New Prediction</h2>
  </div>

  <!-- Organ Tabs -->
  <div class="tabs">
    <a href="/kidney">Kidney</a>
    <a href="/liver">Liver</a>
    <a href="/heart">Heart</a>
    <button class="active">Lung</button>
  </div>

  <h3>Enter Lung Transplant Data</h3>

  <form method="POST" action="/predict/lung" class="grid-form">

    <div class="row">
      <input type="number" placeholder="Age (e.g. 48)" name="age">
      <input type="number" step="any" placeholder="BMI (e.g. 23)" name="bmi">
    </div>

    <input type="text" placeholder="Primary Diagnosis" name="primary_diagnosis">
    <input type="number" step="any" placeholder="FEV1 (%)" name="fev1">

    <div class="row">
      <input type="text" placeholder="Oxygen Requirement (L/min)" name="oxygen_requirement">
      <input type="number" step="any" placeholder="Pulmonary Pressure" name="pulmonary_pressure">
    </div>

    <select name="smoking_history">
        <option value="">Smoking History</option>
        <option>Yes</option>
        <option>No</option>
    </select>

    <button type="submit" class="submit-btn">Get Prediction</button>

  </form>

</div>

</body>
</html>
